<section class="container-fluid">
    <div class="{{'universal.class' | translate }}">
        <h1>{{"universal.header" | translate}}</h1>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
            <div class="universal">
                <div>
                    <main lottie [options]="options"></main>
                </div>
                <div>
                    <h6>{{"universal.Comprehensive.head" | translate}}</h6>
                    <p>{{"universal.Comprehensive.caption" | translate}}</p>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="universal">
                <div>
                    <main lottie [options]="options2"></main>
                </div>
                <div>
                    <h6>{{"universal.High-success-rate.head" | translate}}</h6>
                    <p>{{"universal.High-success-rate.caption" | translate}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="universal">
                <div>
                    <main lottie [options]="options3"></main>
                </div>
                <div>
                    <h6>{{"universal.Friendly-support.head" | translate}}</h6>
                    <p>{{"universal.Friendly-support.caption" | translate}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="universal">
                <div>
                    <main lottie [options]="options4"></main>
                </div>
                <div>
                    <h6>{{"universal.Impartial-advice.head" | translate}}</h6>
                    <p>{{"universal.Impartial-advice.caption" | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>