<footer class="px-5">
    <div class="">
        <div class="row gy-5">
            <div class="col-lg-3">
                <div class="footer-logo">
                    <div>
                        <img src="../../../assets/images/usLogo.svg" alt="">
                    </div>
                    <div class="{{'footer.log.border' | translate}}">
                        <h6>{{"footer.log.head" | translate}}</h6>
                        <p>{{"footer.log.caption" | translate}}</p>
                    </div>
                    <div class="footer-social d-flex">
                        <div>
                            <img src="../../../assets/images/Facebook.svg" alt="">
                        </div>
                        <div>
                            <img src="../../../assets/images/Instagram.svg" alt="">
                        </div>
                        <div>
                            <img src="../../../assets/images/Twitter.svg" alt="">
                        </div>
                        <div>
                            <img src="../../../assets/images/LinkedIn.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="{{'footer.Services.footer-Services' | translate}}">
                    <h5>{{"footer.Services.head" | translate}}</h5>
                    <p (click)="scrollToTop('Academic-Studies')">{{"footer.Services.Services1" |
                        translate}}</p>
                    <p (click)="scrollToTop('Short-term-English')">{{"footer.Services.Services2" | translate}}</p>
                    <p (click)="scrollToTop('Accommodation')">{{"footer.Services.Services3" | translate}}</p>
                    <p (click)="scrollToTop('Welfare-Support')">{{"footer.Services.Services4" | translate}}</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="{{'footer.Sitemap.footer-Sitemap' | translate}}">
                    <h5>{{'footer.Sitemap.head' | translate}}</h5>
                    <p>{{'footer.Sitemap.Services1' | translate}}</p>
                    <p>{{'footer.Sitemap.Services2' | translate}}</p>
                    <p>{{'footer.Sitemap.Services3' | translate}}</p>
                    <p>{{'footer.Sitemap.Services4' | translate}}</p>


                </div>

            </div>
            <div class="col-lg-3">
                <div class="{{'footer.Info.footer-Info' | translate}}">
                    <h5>{{'footer.Info.head' | translate}}</h5>
                    <p>{{'footer.Info.Services1' | translate}}</p>
                    <p><span>{{'footer.Info.Services2' | translate}}</span> {{'footer.Info.Services2span' |
                        translate}}</p>

                    <p><span>{{'footer.Info.Services3' | translate}}</span>{{'footer.Info.Services3span' |
                        translate}}</p>
                    <p><span>{{'footer.Info.Services4' | translate}} :</span> {{'footer.Info.Services4span' |
                        translate}}</p>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <p>{{"footer.Created-By" | translate}} <a href="https://wa.me/+201279440569">{{"footer.name" | translate}}</a> {{"footer.copyright"
                |translate}}</p>
        </div>
    </div>
</footer>