footer {

    // margin-top: 120px;
    background: url(../../../assets/images/World.png) right no-repeat #14191B;
    bottom: 0;
    padding: 20px;
    padding-top: 80px;
    border-top: 7px solid rgba(0, 181, 186, 1);

    .footer-logo {
        .logo-caption {
            border-left: solid 1px rgba(255, 255, 255, 0.25);
            padding-left: 10px;
            margin-top: 20px;

            h6 {
                //styleName: Medium/20px M;
                font-family: Poppins;
                font-size: 21px;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);


            }

            p {
                //styleName: Light/16px L;
                font-family: Poppins;
                font-size: 17px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: rgba(255, 255, 255, 0.8);

            }
        }

        .logo-caption-ar {
            border-right: solid 1px rgba(255, 255, 255, 0.25);
            padding-right: 10px;
            margin-top: 20px;

            h6 {
                //styleName: Medium/20px M;
                font-family: Poppins;
                font-size: 21px;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);

            }

            p {
                //styleName: Light/16px L;
                font-family: Poppins;
                font-size: 17px;
                font-weight: 300;


                color: rgba(255, 255, 255, 0.8);

            }
        }


        .footer-social {
            margin-top: 35px;

            img {
                margin-right: 10px;

            }
        }

    }

    .footer-Services {
        h5 {
            &:before {
                position: absolute;
                content: '';
                left: -7px;
                top: 5px;
                bottom: 0px;
                height: 12px;
                width: 3px;
                background-color: rgba(0, 181, 186, 1);
            }

            //styleName: Medium/20px M;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
            position: relative;
            margin-left: 7px;

        }

        p {
            //styleName: Light/16px L;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            margin-top: 18px;


        }

        display: flex;
        flex-direction: column;
    }

    .footer-Services-ar {
        h5 {
            &:before {
                position: absolute;
                content: '';
                right: -7px;
                top: 5px;
                bottom: 0px;
                height: 12px;
                width: 3px;
                background-color: rgba(0, 181, 186, 1);
            }

            //styleName: Medium/20px M;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
            position: relative;
            margin-left: 7px;

        }

        p {
            //styleName: Light/16px L;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            margin-top: 18px;


        }

        display: flex;
        flex-direction: column;
    }

    .footer-Sitemap {
        h5 {
            &:before {
                position: absolute;
                content: '';
                left: -7px;
                top: 5px;
                bottom: 0px;
                height: 12px;
                width: 3px;
                background-color: rgba(0, 181, 186, 1);
            }

            //styleName: Medium/20px M;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
            position: relative;
            margin-left: 7px;

        }

        p {
            //styleName: Light/16px L;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;

            color: rgba(255, 255, 255, 0.8);
            margin-top: 18px;


        }

        display: flex;
        flex-direction: column;
    }

    .footer-Sitemap-ar {
        h5 {
            &:before {
                position: absolute;
                content: '';
                right: -7px;
                top: 5px;
                bottom: 0px;
                height: 12px;
                width: 3px;
                background-color: rgba(0, 181, 186, 1);
            }

            //styleName: Medium/20px M;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
            position: relative;
            margin-left: 7px;

        }

        p {
            //styleName: Light/16px L;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;

            color: rgba(255, 255, 255, 0.8);
            margin-top: 18px;


        }

        display: flex;
        flex-direction: column;
    }

    .footer-location {
        h5 {
            &:before {
                position: absolute;
                content: '';
                left: -7px;
                top: 5px;
                bottom: 0px;
                height: 12px;
                width: 3px;
                background-color: rgba(0, 181, 186, 1);
            }

            //styleName: Medium/20px M;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
            position: relative;
            margin-left: 7px;

        }

        p {
            span {
                //styleName: Light/16px L;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 300;
                color: rgba(255, 255, 255, 1);


            }

            //styleName: Light/14px L;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 300;



            color: rgba(255, 255, 255, 0.8);
            margin-top: 12px;


        }

        display: flex;
        flex-direction: column;
    }

    .footer-location-ar {
        h5 {
            &:before {
                position: absolute;
                content: '';
                right: -7px;
                top: 5px;
                bottom: 0px;
                height: 12px;
                width: 3px;
                background-color: rgba(0, 181, 186, 1);
            }

            //styleName: Medium/20px M;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
            position: relative;
            margin-left: 7px;

        }

        p {
            span {
                //styleName: Light/16px L;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 300;
                color: rgba(255, 255, 255, 1);


            }

            //styleName: Light/14px L;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 300;



            color: rgba(255, 255, 255, 0.8);
            margin-top: 12px;


        }

        display: flex;
        flex-direction: column;
    }

    .copy-right {
        margin-top: 100px;
        text-align: center;

        p {
            //styleName: Medium/16px M;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.8);
            margin: 0px;

            span {
                color: rgba(255, 255, 255, 1);

            }

        }
    }




}


@media only screen and (max-width: 767px) {
    footer {
        background: url(../../../assets/images/World.png) top #14191B;

    }
}