section {
    margin-top: 80px;

    .location {


        padding: 32px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 1);
        box-shadow: -4px 4px 32px 0px rgba(0, 0, 0, 0.1);
        ;

        .location-items {
            p {
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;

                span {
                    //styleName: Light/14px L;
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: 300;
                    color: rgba(20, 25, 27, 0.8);
                    margin-right: 8px;
                }
            }
        }

        p {
            //styleName: Light/14px L;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 300;
            color: rgba(20, 25, 27, 0.8);
        }
    }
}