<section>
    <div class="row">
        <div class="col-lg-4">
            <div class="location">
                <div>
                    <img src="../../../assets/images/location icon.svg" alt="">
                </div>
                <div class="mt-4">
                    <p>{{"location.location1.head" | translate}} </p>
                </div>

                <div class="location-items mt-5">
                    <p>
                        <span>{{"location.location1.caption1span" | translate}}:</span>
                        0044 (0) 7922571797
                    </p>
                    <p>
                        <span>{{"location.location1.caption2span" | translate}}:</span>
                        0044 (0) 7922571797
                    </p>
                    <p>
                        <span>{{"location.location1.caption3span" | translate}}: </span>
                        admissions@universalstudy.co.uk
                    </p>
                </div>

            </div>

        </div>
        <div class="col-lg-4">
            <div class="location">
                <div>
                    <img src="../../../assets/images/location icon.svg" alt="">
                </div>
                <div class="mt-4">
                    <p>{{"location.location2.head" | translate}} </p>
                </div>

                <div class="location-items mt-5">
                    <p>
                        <span>{{"location.location2.caption1span" | translate}}:</span>
                        0044 (0) 7922571797
                    </p>
                    <p>
                        <span>{{"location.location2.caption2span" | translate}}:</span>
                        0044 (0) 7922571797
                    </p>
                    <p>
                        <span>{{"location.location2.caption3span" | translate}}: </span>
                        admissions@universalstudy.co.uk
                    </p>
                </div>

            </div>

        </div>
        <div class="col-lg-4">
            <div class="location">
                <div>
                    <img src="../../../assets/images/location icon.svg" alt="">
                </div>
                <div class="mt-4">
                    <p>{{"location.location3.head" | translate}} </p>
                </div>

                <div class="location-items mt-5">
                    <p>
                        <span>{{"location.location3.caption1span" | translate}}</span>
                        0044 (0) 7922571797
                    </p>
                    <p>
                        <span>{{"location.location3.caption2span" | translate}}</span>
                        0044 (0) 7922571797
                    </p>
                    <p>
                        <span>{{"location.location3.caption3span" | translate}} </span>
                        admissions@universalstudy.co.uk
                    </p>
                </div>

            </div>

        </div>


    </div>
</section>