<section>
    <div class="row">
        <div class="col-lg-6">
            <div class="about">
                <main lottie [options]="options"></main>
            </div>

        </div>

        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <div class="{{'aboutUs.class'| translate}} pe-5">
                <div>
                    <h4>{{"aboutUs.head" | translate}}</h4>
                    <p>{{"aboutUs.caption1" | translate}}</p>
                    <p>{{"aboutUs.caption2" | translate}}</p>
                </div>
            </div>

        </div>

    </div>
</section>