<section>
    <div class="nums-overlay d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="our-nums-caption ">
                <h3>{{"our-nums.title" | translate}}</h3>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="{{'our-nums.class' | translate}}">
                        <div class="d-flex">
                            <span>{{"our-nums.Applied.numbers" | translate}}</span>
                            <img src="../../../assets/images/Plus.svg" alt="">
                        </div>
                        <div>
                            <p>{{"our-nums.Applied.student" | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="{{'our-nums.class' | translate}}">
                        <div class="d-flex">
                            <span>{{"our-nums.Success.numbers" | translate}}</span>
                            <img src="../../../assets/images/Plus.svg" alt="">
                        </div>
                        <div>
                            <p>{{"our-nums.Success.student" | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="{{'our-nums.class' | translate}}">
                        <div class="d-flex">
                            <span> {{"our-nums.Accommodation.numbers" | translate}}</span>
                            <img src="../../../assets/images/Plus.svg" alt="">
                        </div>
                        <div>
                            <p>{{"our-nums.Accommodation.student" | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="{{'our-nums.class' | translate}}">
                        <div class="d-flex">
                            <span> {{"our-nums.Welfare.numbers" | translate}}</span>
                            <img src="../../../assets/images/Plus.svg" alt="">
                        </div>
                        <div>
                            <p>{{"our-nums.Welfare.student" | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>