<section [dir]="(_LangService.direction$ | async)">
    <div class="Basic_Info" *ngIf="Basic_Info">
        <div class="row">
            <div class="Basic_Info_head">
                <h2>{{'contactHome.application_head' | translate}}</h2>
                <p>{{'contactHome.application_caption' | translate}}</p>
            </div>
            <div class="col-lg-12">
                <div class="position-relative {{'contactHome.name-field.class'  | translate}}">
                    <img class="inputimg" src="../../../assets/images/name-icon.svg" alt="">
                    <mat-form-field appearance="fill">
                        <mat-label>{{"contactHome.name-field.name" | translate}}</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="position-relative {{'contactHome.email-field.class'  | translate}}">
                    <img class="inputimg" src="../../../assets/images/carbon_email-new.svg" alt="">
                    <mat-form-field appearance="fill">
                        <mat-label>{{"contactHome.email-field.name" | translate}}</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="position-relative {{'contactHome.phone-field.class'  | translate}}">
                    <img class="inputimg" src="../../../assets/images/phone-icon.svg" alt="">

                    <mat-form-field appearance="fill">
                        <mat-label>{{'contactHome.phone-field.name' | translate}}</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="position-relative {{'contactHome.country-field.class'  | translate}}">
                            <mat-form-field>
                                <img class="inputimg" src="../../../assets/images/flag.svg" alt="">
                                <!-- <mat-label>Favorite food</mat-label> -->
                                <mat-select placeholder="{{'contactHome.country-field.name'  | translate}}">
                                    <mat-option *ngFor="let country of countries ; let track = index"
                                        [value]="country.name">{{country.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative {{'contactHome.city-field.class'  | translate}}">
                            <img class="inputimg" src="../../../assets/images/city-icon.svg" alt="">

                            
                    <mat-form-field appearance="fill">
                        <mat-label>{{'contactHome.city-field.name'  | translate}}</mat-label>
                        <input matInput>
                    </mat-form-field>
                        </div>

                    </div>

                </div>
                <div class="position-relative {{'contactHome.Current-Address-field.class' | translate}}">
                    <img class="inputimg" src="../../../assets/images/addres.svg" alt="">

                    <mat-form-field appearance="fill">
                        <mat-label>{{'contactHome.Current-Address-field.name' | translate}}</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="{{'contactHome.Postal-Code-field.class' | translate}}">
                    <mat-form-field appearance="fill">
                        <mat-label>{{'contactHome.Postal-Code-field.name' | translate}}</mat-label>
                        <input matInput placeholder="{{'contactHome.Postal-Code-field.name' | translate}}">
                    </mat-form-field>
                </div>

                <div class="application-btn">
                    <button (click)="Basic_Info_next()" class="next">{{'applicationApply.next' |
                        translate}}</button>

                </div>
            </div>
        </div>
    </div>
    <div class="want-to-apply" *ngIf="want_to_apply">
        <div class="want-to-apply-head">
            <h2>{{'applicationApply.head' | translate}}</h2>
            <p>{{'applicationApply.caption' | translate}}</p>
        </div>
        <div class="language_school">
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.want-to-apply.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option (click)="applyOptions($event)" id="1"
                            value="Language Course">{{'applicationApply.want-to-apply.Language-Course' |
                            translate}}</mat-option>
                        <mat-option (click)="applyOptions($event)" id="2"
                            value="Foundation Course">{{'applicationApply.want-to-apply.Foundation-Course' |
                            translate}}</mat-option>
                        <mat-option (click)="applyOptions($event)" id="3"
                            value="Bachelor Degree">{{'applicationApply.want-to-apply.Bachelor-Degree' |
                            translate}}</mat-option>
                        <mat-option (click)="applyOptions($event)" id="4"
                            value="Master Degree">{{'applicationApply.want-to-apply.Master-Degree' |
                            translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="application-btn d-flex align-items-end justify-content-end">
                <button (click)="want_to_apply_back()" class="back">{{'applicationApply.back' | translate}}</button>
                <button (click)="applyNext()"
                    class="next {{'applicationApply.margin'  | translate}}">{{'applicationApply.next' |
                    translate}}</button>
            </div>
        </div>
    </div>
    <div class="Language_Course" *ngIf="Language_Course">
        <div class="Language_Course_head">
            <h2>{{'applicationApply.Language-Course.head' | translate}}</h2>
            <p>{{'applicationApply.Language-Course.caption' | translate}}</p>
        </div>
        <div class="Language_Course_form">
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Language-Course.startcourse' | translate}}</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Language-Course.weeks' | translate}}</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Language-Course.hourperweek.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option value="15">15</mat-option>
                        <mat-option value="20">20</mat-option>
                        <mat-option value="25">25</mat-option>
                        <mat-option value="30">30</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Language-Course.accommodation.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option
                            value="{{'applicationApply.Language-Course.accommodation.label'  | translate}}">{{'applicationApply.Language-Course.accommodation.one'
                            | translate}}</mat-option>
                        <mat-option
                            value="{{'applicationApply.Language-Course.accommodation.label'  | translate}}">{{'applicationApply.Language-Course.accommodation.two'
                            | translate}}</mat-option>
                        <mat-option
                            value="{{'applicationApply.Language-Course.accommodation.label'  | translate}}">{{'applicationApply.Language-Course.accommodation.three'
                            | translate}}</mat-option>
                        <mat-option
                            value="{{'applicationApply.Language-Course.accommodation.label'  | translate}}">{{'applicationApply.Language-Course.accommodation.four'
                            | translate}}</mat-option>
                        <mat-option
                            value="{{'applicationApply.Language-Course.accommodation.label'  | translate}}">{{'applicationApply.Language-Course.accommodation.five'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Language-Course.airport-trasfer.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option (click)="airportTransfaer($event)" id="1"
                            value="{{'applicationApply.Language-Course.airport-trasfer.yes'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer.yes'
                            | translate}}</mat-option>
                        <mat-option (click)="airportTransfaer($event)" id="2"
                            value="{{'applicationApply.Language-Course.airport-trasfer.no'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer.no'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="trasferWayes">
                <mat-form-field>
                    <mat-label>{{'applicationApply.Language-Course.airport-trasfer-yes.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option
                            value="{{'applicationApply.Language-Course.airport-trasfer-yes.one'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer-yes.one'
                            | translate}}</mat-option>
                        <mat-option
                            value="{{'applicationApply.Language-Course.airport-trasfer-yes.two'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer-yes.two'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>{{'applicationApply.Language-Course.arrival-airport' | translate}}</mat-label>
                <input matInput>
            </mat-form-field>
            <div>
            </div>
            <div class="application-btn d-flex align-items-end justify-content-end">
                <button (click)="optionsBack()" class="back">{{'applicationApply.back' | translate}}</button>
                <button (click)="applyNext()" class="next {{'applicationApply.margin'  | translate}}">{{'applicationApply.next' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="Foundation_Course" *ngIf="Foundation_Course">
        <div class="Foundation_Course_head">
            <h2>{{'applicationApply.Foundation-Course.head' | translate}}</h2>
            <p>{{'applicationApply.Foundation-Course.head' | translate}}</p>
        </div>
        <div class="Foundation_Course_form">
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.degree' | translate}}</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.startcourse.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option id="1"
                            value="{{'applicationApply.Foundation-Course.startcourse.January'  | translate}}">{{'applicationApply.Foundation-Course.startcourse.January'
                            | translate}}</mat-option>
                        <mat-option id="2"
                            value="{{'applicationApply.Foundation-Course.startcourse.March'  | translate}} ">{{'applicationApply.Foundation-Course.startcourse.March'
                            | translate}}</mat-option>
                        <mat-option id="3"
                            value="{{'applicationApply.Foundation-Course.startcourse.June'  | translate}} ">{{'applicationApply.Foundation-Course.startcourse.June'
                            | translate}}</mat-option>
                        <mat-option id="4"
                            value="{{'applicationApply.Foundation-Course.startcourse.September'  | translate}}  ">{{'applicationApply.Foundation-Course.startcourse.September'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.terms.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option id="1"
                            value="{{'applicationApply.Foundation-Course.terms.one'  | translate}}">{{'applicationApply.Foundation-Course.terms.one'
                            | translate}}</mat-option>
                        <mat-option id="2"
                            value="{{'applicationApply.Foundation-Course.terms.two'  | translate}} ">{{'applicationApply.Foundation-Course.terms.two'
                            | translate}}</mat-option>
                        <mat-option id="3"
                            value="{{'applicationApply.Foundation-Course.terms.three'  | translate}} ">{{'applicationApply.Foundation-Course.terms.three'
                            | translate}}</mat-option>
                        <mat-option id="4"
                            value="{{'applicationApply.Foundation-Course.terms.four'  | translate}}  ">{{'applicationApply.Foundation-Course.terms.four'
                            | translate}}</mat-option>
                        <mat-option id="5"
                            value="{{'applicationApply.Foundation-Course.terms.five'  | translate}} ">{{'applicationApply.Foundation-Course.terms.five'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.ielts.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option (click)='IELTSCertifcate($event)' id="1"
                            value="{{'applicationApply.Foundation-Course.ielts.yes'  | translate}} ">{{'applicationApply.Foundation-Course.ielts.yes'
                            | translate}}</mat-option>
                        <mat-option (click)='IELTSCertifcate($event)' id="2"
                            value="{{'applicationApply.Foundation-Course.ielts.no'  | translate}} ">{{'applicationApply.Foundation-Course.ielts.no'
                            | translate}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="IELTSNo">
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.ielts.ieltsno.label' | translate}}</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div *ngIf="IELTSScores">
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.ielts.ieltsyes.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option id="1"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.overall'  | translate}}">{{'applicationApply.Foundation-Course.ielts.ieltsyes.overall'
                            | translate}}</mat-option>
                        <mat-option id="2"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.Writing'  | translate}}">{{'applicationApply.Foundation-Course.ielts.ieltsyes.Writing'
                            | translate}} </mat-option>
                        <mat-option id="3"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.Reading'  | translate}}">{{'applicationApply.Foundation-Course.ielts.ieltsyes.Reading'
                            | translate}} </mat-option>
                        <mat-option id="4"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.Speaking'  | translate}}    ">{{'applicationApply.Foundation-Course.ielts.ieltsyes.Speaking'
                            | translate}} </mat-option>
                        <mat-option id="5"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.Listening'  | translate}}">{{'applicationApply.Foundation-Course.ielts.ieltsyes.Listening'
                            | translate}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.graduated.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option id="1"
                            value="{{'applicationApply.Foundation-Course.graduated.yes'  | translate}} ">{{'applicationApply.Foundation-Course.graduated.yes'
                            | translate}}</mat-option>
                        <mat-option id="2"
                            value="{{'applicationApply.Foundation-Course.graduated.no'  | translate}} ">{{'applicationApply.Foundation-Course.graduated.no'
                            | translate}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.accommodation.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option id="1"
                            value="{{'applicationApply.Foundation-Course.accommodation.yes'  | translate}} ">{{'applicationApply.Foundation-Course.accommodation.yes'
                            | translate}}</mat-option>
                        <mat-option id="2"
                            value="{{'applicationApply.Foundation-Course.accommodation.no'  | translate}} ">{{'applicationApply.Foundation-Course.accommodation.no'
                            | translate}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Language-Course.airport-trasfer.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option (click)="airportTransfaer($event)" id="1"
                            value="{{'applicationApply.Language-Course.airport-trasfer.yes'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer.yes'
                            | translate}}</mat-option>
                        <mat-option (click)="airportTransfaer($event)" id="2"
                            value="{{'applicationApply.Language-Course.airport-trasfer.no'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer.no'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="trasferWayes">
                <mat-form-field>
                    <mat-label>{{'applicationApply.Language-Course.airport-trasfer-yes.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option
                            value="{{'applicationApply.Language-Course.airport-trasfer-yes.one'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer-yes.one'
                            | translate}}</mat-option>
                        <mat-option
                            value="{{'applicationApply.Language-Course.airport-trasfer-yes.two'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer-yes.two'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>{{'applicationApply.Language-Course.arrival-airport' | translate}}</mat-label>
                <input matInput>
            </mat-form-field>
            <div class="application-btn d-flex align-items-end justify-content-end">
                <button (click)="optionsBack()" class="back">{{'applicationApply.back' | translate}}</button>
                <button class="next {{'applicationApply.margin'  | translate}}">{{'applicationApply.next' |
                    translate}}</button>
            </div>
        </div>
    </div>
    <div class="Bachelor_Degree" *ngIf="Bachelor_Degree">
        <div class="Bachelor_Degree_head">
            <h2>{{'applicationApply.Bachelor-Degree.label' | translate}}</h2>
            <p>{{'applicationApply.Bachelor-Degree.label' | translate}}</p>
        </div>
        <div class="Bachelor_Degree_form">
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Bachelor-Degree.degree' | translate}}</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.startcourse.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option id="1"
                            value="{{'applicationApply.Foundation-Course.startcourse.January'  | translate}}">{{'applicationApply.Foundation-Course.startcourse.January'
                            | translate}}</mat-option>
                        <mat-option id="4"
                            value="{{'applicationApply.Foundation-Course.startcourse.September'  | translate}}  ">{{'applicationApply.Foundation-Course.startcourse.September'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Bachelor-Degree.studding.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option
                            value="{{'applicationApply.Bachelor-Degree.studding.Foundation'  | translate}}">{{'applicationApply.Bachelor-Degree.studding.Foundation'
                            | translate}}</mat-option>
                        <mat-option
                            value="{{'applicationApply.Bachelor-Degree.studding.Diploma'  | translate}}">{{'applicationApply.Bachelor-Degree.studding.Diploma'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.ielts.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option (click)='IELTSCertifcate($event)' id="1"
                            value="{{'applicationApply.Foundation-Course.ielts.yes'  | translate}} ">{{'applicationApply.Foundation-Course.ielts.yes'
                            | translate}}</mat-option>
                        <mat-option (click)='IELTSCertifcate($event)' id="2"
                            value="{{'applicationApply.Foundation-Course.ielts.no'  | translate}} ">{{'applicationApply.Foundation-Course.ielts.no'
                            | translate}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="IELTSNo">
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.ielts.ieltsno.label' | translate}}</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div *ngIf="IELTSScores">
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.ielts.ieltsyes.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option id="1"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.overall'  | translate}}">{{'applicationApply.Foundation-Course.ielts.ieltsyes.overall'
                            | translate}}</mat-option>
                        <mat-option id="2"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.Writing'  | translate}}">{{'applicationApply.Foundation-Course.ielts.ieltsyes.Writing'
                            | translate}} </mat-option>
                        <mat-option id="3"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.Reading'  | translate}}">{{'applicationApply.Foundation-Course.ielts.ieltsyes.Reading'
                            | translate}} </mat-option>
                        <mat-option id="4"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.Speaking'  | translate}}    ">{{'applicationApply.Foundation-Course.ielts.ieltsyes.Speaking'
                            | translate}} </mat-option>
                        <mat-option id="5"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.Listening'  | translate}}">{{'applicationApply.Foundation-Course.ielts.ieltsyes.Listening'
                            | translate}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.accommodation.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option id="1"
                            value="{{'applicationApply.Foundation-Course.accommodation.yes'  | translate}} ">{{'applicationApply.Foundation-Course.accommodation.yes'
                            | translate}}</mat-option>
                        <mat-option id="2"
                            value="{{'applicationApply.Foundation-Course.accommodation.no'  | translate}} ">{{'applicationApply.Foundation-Course.accommodation.no'
                            | translate}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Language-Course.airport-trasfer.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option (click)="airportTransfaer($event)" id="1"
                            value="{{'applicationApply.Language-Course.airport-trasfer.yes'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer.yes'
                            | translate}}</mat-option>
                        <mat-option (click)="airportTransfaer($event)" id="2"
                            value="{{'applicationApply.Language-Course.airport-trasfer.no'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer.no'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="trasferWayes">
                <mat-form-field>
                    <mat-label>{{'applicationApply.Language-Course.airport-trasfer-yes.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option
                            value="{{'applicationApply.Language-Course.airport-trasfer-yes.one'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer-yes.one'
                            | translate}}</mat-option>
                        <mat-option
                            value="{{'applicationApply.Language-Course.airport-trasfer-yes.two'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer-yes.two'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>{{'applicationApply.Language-Course.arrival-airport' | translate}}</mat-label>
                <input matInput>
            </mat-form-field>

            <div class="application-btn d-flex align-items-end justify-content-end">
                <button (click)="optionsBack()" class="back">{{'applicationApply.back' | translate}}</button>
                <button class="next {{'applicationApply.margin'  | translate}}">{{'applicationApply.next' |
                    translate}}</button>
            </div>
        </div>
    </div>
    <div class="Master_Degree" *ngIf="Master_Degree">
        <div class="Master_Degree_head">
            <h2>{{'applicationApply.Master_Degree.head' | translate}}</h2>
            <p>{{'applicationApply.Master_Degree.label' | translate}}</p>
        </div>
        <div class="Master_Degree_form">
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Master_Degree.degree' | translate}}</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.startcourse.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option id="1"
                            value="{{'applicationApply.Foundation-Course.startcourse.January'  | translate}}">{{'applicationApply.Foundation-Course.startcourse.January'
                            | translate}}</mat-option>
                        <mat-option id="4"
                            value="{{'applicationApply.Foundation-Course.startcourse.September'  | translate}}  ">{{'applicationApply.Foundation-Course.startcourse.September'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Master_Degree.completed.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option
                            value="{{'applicationApply.Master_Degree.completed.Yes'  | translate}}">{{'applicationApply.Master_Degree.completed.Yes'
                            | translate}}</mat-option>
                        <mat-option
                            value="{{'applicationApply.Master_Degree.completed.no'  | translate}}">{{'applicationApply.Master_Degree.completed.no'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.ielts.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option (click)='IELTSCertifcate($event)' id="1"
                            value="{{'applicationApply.Foundation-Course.ielts.yes'  | translate}} ">{{'applicationApply.Foundation-Course.ielts.yes'
                            | translate}}</mat-option>
                        <mat-option (click)='IELTSCertifcate($event)' id="2"
                            value="{{'applicationApply.Foundation-Course.ielts.no'  | translate}} ">{{'applicationApply.Foundation-Course.ielts.no'
                            | translate}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="IELTSNo">
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.ielts.ieltsno.label' | translate}}</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div *ngIf="IELTSScores">
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.ielts.ieltsyes.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option id="1"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.overall'  | translate}}">{{'applicationApply.Foundation-Course.ielts.ieltsyes.overall'
                            | translate}}</mat-option>
                        <mat-option id="2"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.Writing'  | translate}}">{{'applicationApply.Foundation-Course.ielts.ieltsyes.Writing'
                            | translate}} </mat-option>
                        <mat-option id="3"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.Reading'  | translate}}">{{'applicationApply.Foundation-Course.ielts.ieltsyes.Reading'
                            | translate}} </mat-option>
                        <mat-option id="4"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.Speaking'  | translate}}    ">{{'applicationApply.Foundation-Course.ielts.ieltsyes.Speaking'
                            | translate}} </mat-option>
                        <mat-option id="5"
                            value="{{'applicationApply.Foundation-Course.ielts.ieltsyes.Listening'  | translate}}">{{'applicationApply.Foundation-Course.ielts.ieltsyes.Listening'
                            | translate}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Foundation-Course.accommodation.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option id="1"
                            value="{{'applicationApply.Foundation-Course.accommodation.yes'  | translate}} ">{{'applicationApply.Foundation-Course.accommodation.yes'
                            | translate}}</mat-option>
                        <mat-option id="2"
                            value="{{'applicationApply.Foundation-Course.accommodation.no'  | translate}} ">{{'applicationApply.Foundation-Course.accommodation.no'
                            | translate}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>{{'applicationApply.Language-Course.airport-trasfer.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option (click)="airportTransfaer($event)" id="1"
                            value="{{'applicationApply.Language-Course.airport-trasfer.yes'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer.yes'
                            | translate}}</mat-option>
                        <mat-option (click)="airportTransfaer($event)" id="2"
                            value="{{'applicationApply.Language-Course.airport-trasfer.no'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer.no'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="trasferWayes">
                <mat-form-field>
                    <mat-label>{{'applicationApply.Language-Course.airport-trasfer-yes.label' | translate}}</mat-label>
                    <mat-select>
                        <mat-option
                            value="{{'applicationApply.Language-Course.airport-trasfer-yes.one'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer-yes.one'
                            | translate}}</mat-option>
                        <mat-option
                            value="{{'applicationApply.Language-Course.airport-trasfer-yes.two'  | translate}}">{{'applicationApply.Language-Course.airport-trasfer-yes.two'
                            | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>{{'applicationApply.Language-Course.arrival-airport' | translate}}</mat-label>
                <input matInput>
            </mat-form-field>
            <div class="application-btn d-flex align-items-end justify-content-end">
                <button (click)="optionsBack()" class="back">{{'applicationApply.back' | translate}}</button>
                <button class="next {{'applicationApply.margin'  | translate}}">{{'applicationApply.next' |
                    translate}}</button>
            </div>
        </div>
    </div>
    <div class="paypal" *ngIf="paypal">
        <div class="paypal_head">
            <img src="../../../assets/images/paypall-logo.svg" alt="">
            <p>pay with Paypal, Complete the Form.</p>
        </div>
            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
    <div class="success text-center" *ngIf="paypal">
        <div class="Advisory-img position-relative " style="height: 100%;">
            <main lottie [options]="options"></main>
        </div>
        <div>
            <h5>{{'paypal.head' | translate}}</h5>
            <p>{{'paypal.caption' | translate}}</p>
            <span>{{'paypal.time' | translate}}</span>
        </div>
        <div class="Explore_more">
            <button>{{'paypal.explore' | translate}}
            </button>
        </div>

    </div>
</section>