<section class="" [dir]="(_LangService.direction$ | async)">
    <div class="academic-header">
        <div class="row">
            <div class="col-lg-8">
                <div class="item">
                    <div class="academic-header-caption">
                        <h1>{{"short-term-Studies.header.head" | translate}}</h1>
                        <div class="line">
                        </div>
                        <p>{{"short-term-Studies.header.caption" | translate}}</p>
                        <div class="apply-now">
                            <button>{{"short-term-Studies.header.Apply-Now" | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="academy-img {{'short-term-Studies.header.imgPosition' | translate}}">
                    <img src="../../../assets/images/Vec.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="academic-Advisory">
        <div>
            <h6>{{"short-term-Studies.header1" | translate}}</h6>
        </div>
        <div class="row ps-0">
            <div class="col-lg-1">
                <div class="Advisory-img-one mt-4 position-relative" style="height: 87%;">
                    <main lottie [options]="options" (animationCreated)="animationCreated($event)"></main>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="Advisory-caption mt-4">
                    <h6>{{"short-term-Studies.section.application1.head" | translate}}</h6>
                    <p class="mt-4">{{"short-term-Studies.section.application1.caption" | translate}}:</p>
                    <ul>
                        <li>{{"short-term-Studies.section.application1.caption2" | translate}}</li>
                        <li>{{"short-term-Studies.section.application1.caption3" | translate}}</li>
                        <li>{{"short-term-Studies.section.application1.caption4" | translate}}</li>
                        <li>{{"short-term-Studies.section.application1.caption5" | translate}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="{{'short-term-Studies.section.application1.imagealign'  | translate}}">
                    <img style="height: 360px; width: 502px;"
                        src="{{'short-term-Studies.section.application1.image' | translate}}" alt="">
                </div>
            </div>
        </div>
        <div class="row ps-0">
            <div class="col-lg-5">
                <div class="{{'short-term-Studies.section.application2.imagealign'  | translate}}">
                    <img style="height: 360px; width: 502px;"
                        src="{{'short-term-Studies.section.application2.image' | translate}}" alt="">
                </div>
            </div>
            <div class="col-lg-1">
                <div class="Advisory-img mt-4 " style="height: 100%;">
                    <main lottie [options]="options2" (animationCreated)="animationCreated($event)"></main>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="Advisory-caption mt-4">
                    <h6>{{"short-term-Studies.section.application2.head" | translate}}</h6>
                    <p>{{"short-term-Studies.section.application2.caption" | translate}}</p>
                    <p>{{"short-term-Studies.section.application2.caption2" | translate}}</p>
                    <p>{{"short-term-Studies.section.application2.caption3" | translate}}</p>
                </div>
            </div>
        </div>
        <div class="row ps-0">
            <div class="col-lg-1">
                <div class="Advisory-img mt-4" style="height: 100%;">
                    <main lottie [options]="options3" (animationCreated)="animationCreated($event)"></main>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="Advisory-caption mt-4">
                    <h6>{{"short-term-Studies.section.application3.head" | translate}}</h6>
                    <p>{{"short-term-Studies.section.application3.caption" | translate}}</p>
                    <p>{{"short-term-Studies.section.application3.caption2" | translate}}</p>
                    <p>{{"short-term-Studies.section.application3.caption3" | translate}}</p>
                    <p> {{"short-term-Studies.section.application3.caption4" | translate}}</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="{{'short-term-Studies.section.application3.imagealign'  | translate}}">
                    <img style="height: 360px; width: 502px;"
                        src="{{'short-term-Studies.section.application3.image' | translate}}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>